<h1>Flight <%= @flight.number %></h1>

<p>Flight Number: <%= @flight.number %></p>
<p>Flight Date: <%= @flight.date %></p>
<p>Flight Time: <%= @flight.time %></p>
<p>Flight Departure City: <%= @flight.departure_city %></p>
<p>Flight Arrival City: <%= @flight.arrival_city %></p>
<p>Belongs to <%= @flight.airline.name %> Airline</p>

<section id= 'passengers'>
  <% @flight.passengers.each do |passenger| %>
    <p><%= passenger.name %></p>
  <% end %>
</section>
